*{
  margin: 0 0;
}
body{
  background-image: url('img/sample-pattern.png');
  
}
header {
    background-color: white;
    border-bottom: 1px solid white;
    width: 100%;
    height: 40px;
    position : fixed;
    top: 0px;
    padding: 10px 10px 10px 10px;
  }
  
ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: right;
  position: relative;
  bottom: 60px;
}

li {
  color: rgb(53, 135, 228);
  font-size: 20px;
  font-weight: 300;
  width: 80px;
  display: inline-block;
  list-style-type: none;
}
h1{
    font-size: 40px;
    text-align: center;
    color : rgb(56, 56, 153);
    margin: 80px auto 20px auto;
}
h3{
  color : rgb(13, 93, 158);
  
}
a{
  text-decoration: none;
}
section{
margin : 50px 20% 100px 20% ;
}
#article-list{
text-align: left;
}
article{
  background-color: white;
  padding: 5px 15px 10px 15px;
  margin: 4px;
}

footer{
    background-color: black;
    width: 100%;
    height: 80px;
    line-height: 35px;
    text-align: center;
    color: white;
    

}
body, p {
  cursor: default;
}
